html, body {
  background: #000;
  font-family: Arial, sans-serif;
  height: 100%;
}

h1 {
  font-size: 2em;
  margin: 0 0 .1em 0;
  text-align: center;
}

.container, .row, #map {
  height: 100%;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
  cursor: default;
  background-color: transparent;
  color: inherit;
}
